@tailwind base;
@tailwind components;
@tailwind utilities;

/*Estrutura da página*/
body{
    font: 16px 'Times new roman';
    overflow-x: hidden;
}

.container{
    width: 65%;
    margin: auto;
}

@media screen and (max-width: 768px){
    html{
        overflow-x: hidden;
    }
    .container{
        width: 90%;
        margin: auto;
    }
    body{
        font: 16px 'Times new roman';
        overflow-x: hidden;
    }

}

p{
    letter-spacing: 2px;
}

.btn{
    letter-spacing: 4px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 12px;
}

.btn:hover{
    background-color: black;
    color: white;
    animation: translateY 0.5s alternate infinite;
}

@keyframes translateY {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-8px);
    }
}

.sombra{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
}